<div class="wrapper">
	<h2>Product Page</h2>
	<%= link_to 'Import Products', products_path, method: :post, :remote => true, class: 'button--primary' %>
	<div id="product-list">
		<%= render 'product_list'%>
	</div>
</div>